# Pycharm related
.idea/

# Unnecessary python files and testing files
*.pyc
*.test.py
*_test.py
test/

# Log, text, raw data files
*.log
*.txt
*.csv
*.config
raw_data/

# Chrome driver
**/chromedriver.exe

# Secret information
*.key
*.authkey
*.password
*.secret

# Usage example
usage_example/